In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.rand(4,4), columns = ['A','B' ,'C', 'D'])
df

          A         B         C         D
0  0.329722  0.534892  0.103229  0.575137
1  0.026381  0.275848  0.062395  0.801648
2  0.326912  0.632910  0.655021  0.752114
3  0.006966  0.396645  0.488809  0.451355

In [4]:
df.A > 1

0    False
1    False
2    False
3    False
Name: A, dtype: bool

In [7]:
df.A>0.1

0     True
1    False
2     True
3    False
Name: A, dtype: bool

In [10]:
df[df.A > 0.1]

          A         B         C         D
0  0.329722  0.534892  0.103229  0.575137
2  0.326912  0.632910  0.655021  0.752114

In [11]:
df['E'] = ['a','a', 'c', 'b']
df

          A         B         C         D  E
0  0.329722  0.534892  0.103229  0.575137  a
1  0.026381  0.275848  0.062395  0.801648  a
2  0.326912  0.632910  0.655021  0.752114  c
3  0.006966  0.396645  0.488809  0.451355  b

In [14]:
df.E.isin(['a','c'])

0     True
1     True
2     True
3    False
Name: E, dtype: bool

In [15]:
df[df.E.isin(['a','c'])]

          A         B         C         D  E
0  0.329722  0.534892  0.103229  0.575137  a
1  0.026381  0.275848  0.062395  0.801648  a
2  0.326912  0.632910  0.655021  0.752114  c

In [18]:
~df.E.isin(['a'])

0    False
1    False
2     True
3     True
Name: E, dtype: bool

補充資料超完整
https://medium.com/@t0915290092/%E5%A6%82%E4%BD%95%E8%A7%A3%E6%B1%BA-pandas-%E6%95%88%E7%8E%87%E7%B7%A9%E6%85%A2%E7%9A%84%E5%95%8F%E9%A1%8C-7466b3e996df