In [1]:
import pandas as pd

df = pd.DataFrame({
  'name': ['Alice', 'Bob'],
  'age': [20, 32]
})

for c in df:
  print(c)

name
age

In [2]:
import pandas as pd

df = pd.DataFrame({
  'name': ['Alice', 'Bob'],
  'age': [20, 32]
})

for i in range(len(df)):
  print(df.iloc[i])

name    Alice
age        20
Name: 0, dtype: object
name    Bob
age      32
Name: 1, dtype: object

In [3]:
f = lambda x : x**3
f(3)

27

In [4]:
f(2)

8

In [5]:
g = lambda x,y,z : x*y + z
g(3,4,5)

17

In [6]:
import numpy as np

In [8]:
df = pd.DataFrame(np.random.randint(5,35,20).reshape(4,5))
df

    0   1   2   3   4
0  12  17  20  13   7
1  25  25  28  27  30
2  34  18  29  32   5
3  13  23   6  28  21

In [9]:
df.apply(lambda x : x.max() - x.min())

0    22
1     8
2    23
3    19
4    25
dtype: int64

In [10]:

ex = pd.DataFrame({
  'score': [98, 67, 85],
  'age': [20, 32, 28]
})
ex

   score  age
0     98   20
1     67   32
2     85   28