# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [11]:
# 計算每個不同種類 animal 的 age 的平均數

animal_type = df.groupby("animal")
animal_type.mean()

        age  visits
animal
cat     2.5     2.0
dog     5.0     2.0
snake   2.5     1.5

In [17]:
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序

df.sort_values(by = ['age','visits'], ascending  =[ True, False])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [22]:
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df['priority'].replace(['yes','no'], [True,False])

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [38]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.661604  0.961035  0.463759
1  0.758845  0.171023  0.755359
2  0.673430  0.989075  0.278927
3  0.233093  0.572142  0.123483
4  0.878891  0.911155  0.626684

In [25]:
# 1) 減去該欄位的平均數
df - df.mean()

          0         1         2
0  0.077732  0.027215  0.396954
1  0.177463 -0.354553 -0.270803
2 -0.401166  0.066117  0.167973
3 -0.093053  0.305690  0.014267
4  0.239024 -0.044469 -0.308392

In [26]:
# 1) 減去該筆資料平均數

df - df.mean(axis = 1)

          0         1         2   3   4
0 -0.087110  0.288555  0.338146 NaN NaN
1  0.012621 -0.093213 -0.329612 NaN NaN
2 -0.566008  0.327457  0.109164 NaN NaN
3 -0.257895  0.567030 -0.044542 NaN NaN
4  0.074181  0.216871 -0.367201 NaN NaN

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [27]:
df

          0         1         2
0  0.617502  0.676568  0.819765
1  0.717233  0.294800  0.152008
2  0.138604  0.715471  0.590784
3  0.446716  0.955044  0.437078
4  0.778793  0.604885  0.114419

In [48]:
#1) 哪一比的資料總合最小
df.sum(axis = 1).idxmin()

3

In [49]:
#2) 哪一欄位的資料總合最小
df.sum().idxmin()

2